@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  height: 100%;
  background-image: url(./images/bg-pattern-top.svg),
    url(./images/bg-pattern-bottom.svg);
  background-repeat: no-repeat;
  /*background-size: 50%;*/
  background-position: calc(50vw - 1000px) calc(50vh - 953px),
    calc(50vw - 50px) calc(50vh - 10px);
  background-color: hsl(185, 75%, 39%);
  text-align: center;
}

.container {
  margin: 185px auto;
  max-width: 350px;
  background-color: whitesmoke;
  font-family: "Kumbh Sans", sans-serif;
  font-size: 18px;
  border-radius: 10px;
  color: hsla(229, 23%, 23%);
  box-shadow: 30px 30px 90px hsla(229, 23%, 23%, 0.4);
}

.card-header {
  background-image: url(./images/bg-pattern-card.svg);
  max-width: 350px;
  height: 140px;
  background-size: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.profile-image {
  position: relative;
  width: 100%;
}

.profile-image img {
  margin-top: -52px;
  border-radius: 50%;
  background-color: whitesmoke;
  border: 5px solid whitesmoke;
}

.header {
  margin-top: 10px;
  padding-bottom: 20px;
  border-bottom: 1px solid hsla(227, 10%, 46%, 0.5);
  line-height: 1.8rem;
}

.header h3 span {
  font-weight: 400;
  color: hsl(0, 0%, 59%);
}

.location {
  font-weight: 400;
  color: hsl(0, 0%, 59%);
  font-size: 15px;
}

.profile-stats {
  margin-top: 20px;
  padding-bottom: 20px;
  display: flex;
  justify-content: space-evenly;
  line-height: 1.5rem;
}

.stats span {
  color: hsl(0, 0%, 59%);
  font-size: 14px;
  letter-spacing: 2px;
}

.attribution {
  font-size: 11px;
  text-align: center;
  color: whitesmoke;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
